@media(max-width: 768px) {

    .hero-title {
        font-size: 3rem;
    }

    .moon {
        width: 150px;
        height: 150px;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .typing-text {
        font-size: 1rem;
        padding: 0 20px;
    }

}

@media(max-width: 992px) {

    .timeline::before {
        left: 10px;
    }

    .timeline-item {

        width: 100%;

        padding-left: 50px;
        padding-right: 0;
    }

    .timeline-item.right {
        left: 0;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .counter-box {

        width: 130px;
        height: 130px;
    }

}


@media(max-width: 992px) {

    .gallery-grid {

        grid-template-columns: 1fr;
    }

    .gallery-item.wide {
        grid-column: span 1;
    }

    .gallery-item.tall {
        grid-row: span 1;
    }

    .modal-img {

        max-width: 95%;
    }

}

@media(max-width: 992px) {

    .love-cards-wrapper {

        grid-template-columns: 1fr;
    }

    .love-card {

        height: 280px;
    }

}

@media(max-width: 768px) {

    .envelope {

        width: 320px;
        height: 220px;
    }

    .envelope.open .letter {

        top: -180px;

        height: 420px;
    }

    .letter-content h3 {

        font-size: 2rem;
    }

    .typewriter-text {

        font-size: 0.9rem;
    }

}

@media(max-width: 768px) {

    .letter-card {

        padding: 35px 25px;
    }

    .letter-card h2 {

        font-size: 2.3rem;
    }

    .letter-card p {

        font-size: 1rem;

        line-height: 2;
    }

    .close-letter {

        top: 15px;
        right: 25px;

        font-size: 3rem;
    }

}

@media(max-width: 992px) {

    .music-wrapper {

        grid-template-columns: 1fr;
    }

}

@media(max-width: 992px) {

    .dreams-wrapper {

        grid-template-columns: 1fr;
    }

}


@media(max-width: 768px) {

    .final-content h2 {

        font-size: 3.5rem;
    }

    .final-quote {

        font-size: 1rem;

        line-height: 1.9;
    }

    .final-moon {

        width: 220px;
        height: 220px;
    }
    .memory5{
        object-position: top;
    }

}
